@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
    --main-color: #2980b9;
    --orange: #f39c12;
    --red: #e74c3c;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --border: 0.2rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

*::selection {
    background-color: var(--main-color);
    color: var(--white);
}

::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* ===== BASE DESKTOP (>= 1200px) ===== */
html {
    font-size: 62.5%;     /* 1rem = 10px */
    overflow-x: hidden;
}

body {
    background-color: #fff;
    font-family: Inter, Roboto, sans-serif;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* khung cho tất cả section */
section {
    padding: 2rem 2.4rem;
    max-width: 1600px;
    margin: 0 auto;
}

